# Data Handling Using Pandas

In [7]:
import pandas as pd

In [8]:
df=pd.read_excel('students.xlsx')

In [22]:
top_students=df[df['Marks']>80]
print('Students Record as Follows')
display(top_students)

Students Record as Follows

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
3   Sara   23     92

In [11]:
display(df.describe())

             Age      Marks
count   4.000000   4.000000
mean   21.500000  86.250000
std     1.290994   6.238322
min    20.000000  78.000000
25%    20.750000  83.250000
50%    21.500000  87.500000
75%    22.250000  90.500000
max    23.000000  92.000000

In [12]:
data=pd.read_csv('Final_data.csv')

In [13]:
display(data)

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_HRR,pct_maxHR,cal_balance,lean_mass_kg,expected_burn,Burns Calories (per 30 min)_bc,Burns_Calories_Bin
0,34.91,Male,65.27,1.62,188.58,157.65,69.05,1.00,1080.90,Strength,...,2139.59,0.500432,1.624789,0.741237,0.835985,725.10,47.777394,685.1600,7.260425e+19,Medium
1,23.37,Female,56.41,1.55,179.43,131.75,73.18,1.37,1809.91,HIIT,...,1711.65,0.500850,1.514093,0.551247,0.734270,-232.91,40.809803,978.6184,1.020506e+20,High
2,33.20,Female,58.98,1.67,175.04,123.95,54.96,0.91,802.26,Cardio,...,1965.92,0.500610,1.663445,0.574534,0.708124,805.74,44.635580,654.5266,1.079607e+20,High
3,38.69,Female,93.78,1.70,191.21,155.10,50.07,1.10,1450.79,HIIT,...,1627.28,0.499533,0.862017,0.744155,0.811150,1206.21,63.007432,773.6300,8.987921e+19,High
4,45.09,Male,52.42,1.88,193.58,152.88,70.84,1.08,1166.40,Strength,...,2659.23,0.500581,2.538153,0.668405,0.789751,303.60,43.347504,711.4176,5.264685e+19,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,46.77,Female,98.31,1.90,199.20,148.18,63.72,0.77,761.61,Strength,...,1882.80,0.500000,0.954837,0.623413,0.743876,1865.39,71.269345,533.2558,7.924402e+19,Medium
19996,40.38,Female,88.12,1.87,196.18,134.18,54.04,1.97,2303.13,Strength,...,1205.47,0.496968,0.689060,0.563810,0.683964,173.87,65.049689,1310.6016,5.708474e+19,Low
19997,50.31,Male,46.20,1.67,163.34,157.92,61.65,1.36,1468.80,Strength,...,1947.79,0.500280,2.105844,0.946701,0.966818,-43.80,35.420708,957.9568,9.101285e+19,High
19998,52.36,Male,44.30,1.62,179.27,121.23,60.88,1.41,929.75,Yoga,...,1921.51,0.499940,2.190745,0.509756,0.676243,346.25,35.889260,928.4004,5.246436e+19,Low
19999,29.56,Male,58.63,1.61,198.07,121.74,72.05,1.20,861.84,Yoga,...,1754.55,0.501280,1.494968,0.394302,0.614631,804.16,44.303237,841.1040,8.742467e+19,High

In [37]:
final_data=select_data['Weight(kg)']>80
final_data

NameError: name 'select_data' is not defined

In [36]:
select_data=data[['Age','Gender','Weight(kg)','protein_per_kg']]
select_data

KeyError: "['Weight(kg)'] not in index"

In [14]:
data.describe()

,Age,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),...,BMI_calc,cal_from_macros,pct_carbs,protein_per_kg,pct_HRR,pct_maxHR,cal_balance,lean_mass_kg,expected_burn,Burns Calories (per 30 min)_bc
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,2.000000e+04
mean,38.851453,73.898832,1.723093,179.889702,143.704306,62.195813,1.259446,1280.109600,26.101313,2.627485,...,24.921651,1998.297076,0.499983,1.460142,0.699005,0.802305,744.308699,53.786384,866.352318,8.631802e+19
std,12.114580,21.173010,0.127033,11.510805,14.267688,7.289351,0.341336,502.228982,4.996160,0.604724,...,6.701144,440.848408,0.001455,0.518946,0.144880,0.096613,720.946619,12.498740,250.317069,3.197579e+19
min,18.000000,39.180000,1.490000,159.310000,119.070000,49.490000,0.490000,323.110000,11.333134,1.460000,...,12.037907,1105.570000,0.492434,0.516706,0.371344,0.599789,-1266.220000,30.946261,219.852800,2.491905e+16
25%,28.170000,58.160000,1.620000,170.057500,131.220000,55.960000,1.050000,910.800000,22.387807,2.170000,...,20.094975,1661.022500,0.499054,1.076294,0.583656,0.727676,261.432500,44.587037,714.098250,6.441978e+19
50%,39.865000,70.000000,1.710000,180.140000,142.990000,62.200000,1.270000,1231.450000,25.822504,2.610000,...,24.119097,1943.130000,0.499981,1.382260,0.686284,0.794834,691.190000,51.204908,868.721400,8.371578e+19
75%,49.630000,86.100000,1.800000,189.425000,156.060000,68.090000,1.460000,1553.112500,29.676026,3.120000,...,28.562620,2271.950000,0.500910,1.750495,0.798196,0.869211,1176.290000,61.939016,1012.532700,1.100442e+20
max,59.670000,130.770000,2.010000,199.640000,169.840000,74.500000,2.020000,2890.820000,35.000000,3.730000,...,50.229544,3699.540000,0.507889,3.916881,1.073939,1.047032,3075.580000,90.117371,1477.108800,1.756614e+20

# Filter Data of Persons Whose Weight > 60kg, We want Age, Gender, Weight protein_per_kg

In [34]:
select_data=data[['Age','Gender','Weight(kg)','protein_per_kg']]
select_data

KeyError: "['Weight(kg)'] not in index"

In [15]:
selected_data=data[['Age','Max_BPM','Avg_BPM']]

In [17]:
selected_data.describe()

                Age       Max_BPM       Avg_BPM
count  20000.000000  20000.000000  20000.000000
mean      38.851453    179.889702    143.704306
std       12.114580     11.510805     14.267688
min       18.000000    159.310000    119.070000
25%       28.170000    170.057500    131.220000
50%       39.865000    180.140000    142.990000
75%       49.630000    189.425000    156.060000
max       59.670000    199.640000    169.840000

In [18]:
selected_data

         Age  Max_BPM  Avg_BPM
0      34.91   188.58   157.65
1      23.37   179.43   131.75
2      33.20   175.04   123.95
3      38.69   191.21   155.10
4      45.09   193.58   152.88
...      ...      ...      ...
19995  46.77   199.20   148.18
19996  40.38   196.18   134.18
19997  50.31   163.34   157.92
19998  52.36   179.27   121.23
19999  29.56   198.07   121.74

[20000 rows x 3 columns]

In [24]:
top_students=df[df['Marks']>80]
top_students

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
3   Sara   23     92

In [25]:
rejected_students=df[df['Marks']<=80]

In [26]:
rejected_students

  Name  Age  Marks
2  Bob   21     78

In [27]:
top_students.to_excel('selected_students.xlsx',index=False)
print('Filtered Data to Saved to "selected_students.xlsx"')

Filtered Data to Saved to "selected_students.xlsx"

In [28]:
rejected_students.to_excel('rejected_students.xlsx',index=False)

In [29]:
print('File Created')

File Created

In [31]:
rejected_students.to_excel('rejected2_students.xlsx')
print('File Created "rejected2_students.xlsx"')

File Created "rejected2_students.xlsx"

In [ ]:
data=pd.read_csv('Final_data.csv')

In [35]:
select_data=data[['Age','Gender','Weight(kg)','protein_per_kg']]
select_data

KeyError: "['Weight(kg)'] not in index"

In [38]:
import pandas as pd

df = pd.read_csv('Final_data.csv')
print(df.columns)

Index(['Age', 'Gender', 'Weight (kg)', 'Height (m)', 'Max_BPM', 'Avg_BPM',
       'Resting_BPM', 'Session_Duration (hours)', 'Calories_Burned',
       'Workout_Type', 'Fat_Percentage', 'Water_Intake (liters)',
       'Workout_Frequency (days/week)', 'Experience_Level', 'BMI',
       'Daily meals frequency', 'Physical exercise', 'Carbs', 'Proteins',
       'Fats', 'Calories', 'meal_name', 'meal_type', 'diet_type', 'sugar_g',
       'sodium_mg', 'cholesterol_mg', 'serving_size_g', 'cooking_method',
       'prep_time_min', 'cook_time_min', 'rating', 'Name of Exercise', 'Sets',
       'Reps', 'Benefit', 'Burns Calories (per 30 min)', 'Target Muscle Group',
       'Equipment Needed', 'Difficulty Level', 'Body Part', 'Type of Muscle',
       'Workout', 'BMI_calc', 'cal_from_macros', 'pct_carbs', 'protein_per_kg',
       'pct_HRR', 'pct_maxHR', 'cal_balance', 'lean_mass_kg', 'expected_burn',
       'Burns Calories (per 30 min)_bc', 'Burns_Calories_Bin'],
      dtype='object')

In [39]:
import pandas as pd

# Read the data
df = pd.read_csv('Final_data.csv')

# Filter where Weight (kg) > 60, and show selected columns
filtered_df = df[df['Weight (kg)'] > 60][['Age', 'Gender', 'Weight (kg)', 'protein_per_kg']]

# Display result
print(filtered_df)

         Age  Gender  Weight (kg)  protein_per_kg
0      34.91    Male        65.27        1.624789
3      38.69  Female        93.78        0.862017
5      53.19  Female       105.05        0.646549
7      55.92  Female        84.07        1.253836
8      24.11  Female        88.58        0.783924
...      ...     ...          ...             ...
19992  28.59  Female        68.43        1.200058
19993  28.52  Female        87.72        1.297424
19994  39.38    Male        64.13        1.939498
19995  46.77  Female        98.31        0.954837
19996  40.38  Female        88.12        0.689060

[14169 rows x 4 columns]

In [ ]:
final_data

In [40]:
select_data=data[data['Weight (kg)']>60]
final_data=select_data[['Age','Gender','Weight (kg)','protein_per_kg']]
final_data

         Age  Gender  Weight (kg)  protein_per_kg
0      34.91    Male        65.27        1.624789
3      38.69  Female        93.78        0.862017
5      53.19  Female       105.05        0.646549
7      55.92  Female        84.07        1.253836
8      24.11  Female        88.58        0.783924
...      ...     ...          ...             ...
19992  28.59  Female        68.43        1.200058
19993  28.52  Female        87.72        1.297424
19994  39.38    Male        64.13        1.939498
19995  46.77  Female        98.31        0.954837
19996  40.38  Female        88.12        0.689060

[14169 rows x 4 columns]

In [41]:
final_data.to_csv('overweight.csv',index=False)
print('Filtered Data to Saved to "overweight.csv"')

Filtered Data to Saved to "overweight.csv"

# Use Patient file and Display all Records
## Show Number of Rows and Colums in Your Dataset

In [57]:
import pandas as pd
df=pd.read_csv("patients.csv")
display(df)
print("\nNumber of Rows and Columns in Patient Dataset:")
display(data)

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

Number of Rows and Columns in Patient Dataset:

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

## Create the List of Patients, Those are in ICU
### Save the file with the icu_patients.csv

In [60]:
import pandas as pd

data = pd.read_csv("patients.csv")
icu_patients = data[data['service'] == 'ICU']
icu_patients.to_csv("icu_patients.csv", index=False)

print("File 'icu_patients.csv' created successfully!")

File 'icu_patients.csv' created successfully!

In [61]:
print(data['service'].unique())

['surgery' 'general_medicine' 'emergency' 'ICU']

In [62]:
import pandas as pd

data = pd.read_csv("patients.csv")
data.columns = data.columns.str.strip()

print("Column Names:", data.columns.tolist())
print("\nUnique service names:", data['service'].unique())


icu_patients = data[data['service'].str.lower() == 'icu']
print(f"\nICU Patient Records: {icu_patients.shape[0]} rows and {icu_patients.shape[1]} columns")

pd.set_option('display.max_columns', None)
print("\nICU Patients Data:\n", icu_patients)

icu_patients.to_csv("icu_patients.csv", index=False)
print("\nFile 'icu_patients.csv' created successfully!")

Column Names: ['patient_id', 'name', 'age', 'arrival_date', 'departure_date', 'service', 'satisfaction']

Unique service names: ['surgery' 'general_medicine' 'emergency' 'ICU']

ICU Patient Records: 241 rows and 7 columns

ICU Patients Data:
        patient_id               name  age arrival_date departure_date service  \
4    PAT-08591375        Garrett Lin   25   2025-02-18     2025-02-25     ICU
7    PAT-5b61868c      Ashley Waller    0   2025-05-21     2025-06-04     ICU
10   PAT-003ce690        Larry Dixon   29   2025-01-19     2025-01-21     ICU
20   PAT-5e3f8747   Elizabeth Kelley   34   2025-03-29     2025-04-12     ICU
24   PAT-f70aeea1    Rebecca Jackson   18   2025-02-05     2025-02-18     ICU
..            ...                ...  ...          ...            ...     ...
990  PAT-110d5794        Travis Hull   48   2025-11-12     2025-11-18     ICU
992  PAT-8700b93a  Nicholas Lawrence    9   2025-10-25     2025-11-02     ICU
993  PAT-e5d6a9cf       Jacob Santos   76   2025-12-27     2026-01-02     ICU
997  PAT-8f07e894     Jennifer James   72   2025-12-12     2025-12-21     ICU
998  PAT-4ae301e1     Kara Hernandez   47   2025-02-08     2025-02-20     ICU

     satisfaction
4              76
7              82
10             60
20             91
24             77
..            ...
990            89
992            92
993            96
997            69
998            61

[241 rows x 7 columns]

File 'icu_patients.csv' created successfully!